* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 30%; } }
  @media only screen and (max-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  overflow-x: hidden;
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.form-container {
  display: flex;
  width: 100%;
  align-content: center;
  flex-direction: row;
  padding: 5rem; }
  .form-container .form-detail {
    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    width: 27rem;
    height: 17rem;
    position: relative;
    margin-right: 1rem;
    display: flex;
    margin-left: 67%;
    border-radius: 10px; }
    @media only screen and (max-width: 37.5em) {
      .form-container .form-detail {
        margin-left: auto;
        width: 20rem;
        height: 14rem; } }
    @media only screen and (max-width: 56.25em) {
      .form-container .form-detail {
        width: 22rem;
        height: 13rem;
        margin-left: auto; } }
    @media only screen and (max-width: 75em) {
      .form-container .form-detail {
        width: 27rem;
        height: 15rem;
        margin-left: auto; } }
    .form-container .form-detail .form {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 1rem; }
      .form-container .form-detail .form_input {
        padding: 1rem;
        width: 100%;
        font-size: 1.5rem;
        height: 1.5rem;
        border-radius: 10rem;
        border: 1px solid black;
        transition: all 0.3s; }
      .form-container .form-detail .form_lable {
        font-weight: 700;
        font-size: 1.2rem;
        transform: all 0.3s;
        margin-left: 0.6rem;
        color: red; }
        @media only screen and (max-width: 37.5em) {
          .form-container .form-detail .form_lable {
            font-size: 1rem;
            margin-left: 0.3rem; } }
        @media only screen and (max-width: 56.25em) {
          .form-container .form-detail .form_lable {
            font-size: 1rem;
            margin-left: 0.3rem; } }
        @media only screen and (max-width: 75em) {
          .form-container .form-detail .form_lable {
            font-size: 1rem;
            margin-left: 0.3rem; } }
      .form-container .form-detail .form .form_input:placeholder-shown + .form_lable {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem); }
    .form-container .form-detail .user_password {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
      .form-container .form-detail .user_password .form_radio {
        margin-left: -1rem; }
      .form-container .form-detail .user_password .form_lable {
        font-size: 1.2rem;
        margin-left: 0.5rem;
        font-weight: 800;
        color: black; }
        @media only screen and (max-width: 56.25em) {
          .form-container .form-detail .user_password .form_lable {
            font-size: 1rem;
            font-weight: 500; } }
        @media only screen and (max-width: 75em) {
          .form-container .form-detail .user_password .form_lable {
            font-size: 1rem;
            font-weight: 500; } }
      .form-container .form-detail .user_password .forgot-password {
        font-size: 1.2rem;
        font-weight: 800;
        margin-left: 2rem;
        text-decoration: none;
        color: black; }
        @media only screen and (max-width: 37.5em) {
          .form-container .form-detail .user_password .forgot-password {
            font-size: 1rem;
            font-weight: 500; } }
        @media only screen and (max-width: 56.25em) {
          .form-container .form-detail .user_password .forgot-password {
            font-size: 1rem;
            font-weight: 500; } }
        @media only screen and (max-width: 75em) {
          .form-container .form-detail .user_password .forgot-password {
            font-size: 1rem;
            font-weight: 500; } }
    .form-container .form-detail .user_password-1 {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-top: 0.5rem; }
      .form-container .form-detail .user_password-1 a {
        width: 100%;
        text-decoration: none;
        color: black;
        font-weight: 800;
        font-size: 1.2rem; }
        @media only screen and (max-width: 56.25em) {
          .form-container .form-detail .user_password-1 a {
            font-size: 1rem;
            font-weight: 500; } }
        @media only screen and (max-width: 75em) {
          .form-container .form-detail .user_password-1 a {
            font-size: 1rem;
            font-weight: 500; } }
        .form-container .form-detail .user_password-1 a:hover {
          color: red;
          transform: all 0.2s; }
      .form-container .form-detail .user_password-1 .user-login {
        padding: 0.1rem;
        width: 9rem;
        height: 3.1rem;
        font-weight: 800;
        background-color: #e61010;
        color: #fff;
        border: 2px solid white;
        border-radius: 10px;
        font-size: 1.5rem; }
        @media only screen and (max-width: 56.25em) {
          .form-container .form-detail .user_password-1 .user-login {
            font-size: 1rem;
            font-weight: 500;
            height: 2.5rem; } }
        @media only screen and (max-width: 75em) {
          .form-container .form-detail .user_password-1 .user-login {
            font-size: 1rem;
            font-weight: 500;
            height: 2.5rem; } }
        .form-container .form-detail .user_password-1 .user-login:hover {
          background-color: #e40303; }

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  flex: 1;
  height: 17rem;
  width: 100vw;
  margin-top: -2rem;
  padding: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .message {
      flex: 1;
      justify-content: center;
      align-items: center;
      margin-left: -8rem;
      width: 100%;
      height: 17rem; } }
  .message-img-cont {
    display: flex;
    width: 43rem;
    margin-right: -40%;
    justify-content: center;
    height: 15rem;
    position: absolute;
    background-size: cover; }
    @media only screen and (max-width: 37.5em) {
      .message-img-cont {
        width: 37rem;
        height: 13rem; } }
  .message-img {
    width: 43rem;
    height: 17rem;
    margin-left: -1%;
    position: relative;
    background-size: cover;
    object-fit: cover;
    background-position: center; }
    @media only screen and (max-width: 37.5em) {
      .message-img {
        width: 32rem;
        height: 13rem; } }

.container {
  height: 100%;
  width: 100vw;
  flex-direction: column;
  position: absolute;
  background-image: url(../img/Bali-1.jpeg);
  background-size: cover; }
  @media only screen and (max-width: 37.5em) {
    .container {
      height: 100vh;
      width: 100vw;
      padding: 0; } }
  @media only screen and (max-width: 56.25em) {
    .container {
      height: 100vh;
      width: 100vw;
      padding: 0;
      flex-direction: column; } }
  @media only screen and (max-width: 75em) {
    .container {
      height: 100vh;
      width: 100vw;
      padding: 0;
      flex-direction: column; } }
  @media only screen and (max-width: 112.5em) {
    .container {
      height: 100vh;
      width: 100vw; } }

.nav-1 {
  height: 8rem;
  margin: 4rem auto;
  padding: 1rem;
  width: 90vw;
  display: flex;
  border-radius: 5px;
  background-color: #16293a;
  justify-content: space-between;
  align-items: center;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .nav-1 {
      height: 4rem;
      margin: 2 auto;
      width: 70%; } }
  @media only screen and (max-width: 75em) {
    .nav-1 {
      height: 5rem;
      margin: 4 auto;
      width: 80%; } }
  @media only screen and (max-width: 56.25em) {
    .nav-1 {
      height: 5rem;
      margin: 4 auto;
      width: 90%; } }

.logo {
  width: 25rem;
  height: 6.5rem;
  display: flex;
  margin-left: -0.5rem; }
  .logo-img {
    align-items: center;
    justify-content: center;
    margin-top: -0.5rem; }
    .logo-img .logo-1 {
      background-size: cover;
      height: 6.6rem;
      width: 11.7rem;
      margin-top: 0.5rem; }
      @media only screen and (max-width: 37.5em) {
        .logo-img .logo-1 {
          height: 5.5rem;
          width: 5.7rem;
          margin-top: 1rem; } }
      @media only screen and (max-width: 56.25em) {
        .logo-img .logo-1 {
          height: 2.8rem;
          width: 6rem;
          margin-top: 1rem; } }
      @media only screen and (max-width: 75em) {
        .logo-img .logo-1 {
          height: 4.5rem;
          width: 7rem;
          margin-top: 1.5rem; } }
  .logo .holiday-1 {
    color: white;
    margin: 1rem -3rem auto;
    width: 100%;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    font-weight: 900; }
    @media only screen and (max-width: 56.25em) {
      .logo .holiday-1 {
        margin: 0.9rem -0.1rem;
        font-size: 1.7rem; } }
    @media only screen and (max-width: 75em) {
      .logo .holiday-1 {
        margin: 1.6rem -6.1rem 0;
        font-size: 1.6rem; } }
    @media only screen and (max-width: 112.5em) {
      .logo .holiday-1 {
        margin: 0.9rem -3.9rem;
        font-size: 2.2rem; } }
    @media only screen and (max-width: 37.5em) {
      .logo .holiday-1 {
        margin: 1.2rem -5.9rem;
        font-size: 1.7rem; } }
  .logo .holiday-2 {
    color: white;
    font-weight: 500;
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
    margin: 3.9rem -17.5rem; }
    @media only screen and (max-width: 56.25em) {
      .logo .holiday-2 {
        margin: 3rem -13rem;
        font-size: 1rem; } }
    @media only screen and (max-width: 75em) {
      .logo .holiday-2 {
        margin: 3.5rem -12.7rem;
        font-size: 1rem; } }
    @media only screen and (max-width: 112.5em) {
      .logo .holiday-2 {
        margin: 4rem -16.9rem;
        font-size: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .logo .holiday-2 {
        margin: 3rem -13rem;
        font-size: 1rem; } }

.menu {
  display: flex;
  font-size: 1.6rem;
  width: 50%;
  justify-content: space-evenly; }
  @media only screen and (max-width: 37.5em) {
    .menu {
      display: none;
      width: 0; } }
  .menu-item {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 800; }
    @media only screen and (max-width: 56.25em) {
      .menu-item {
        font-size: 1rem;
        font-weight: 500;
        opacity: 1; } }
    @media only screen and (max-width: 75em) {
      .menu-item {
        font-size: 1rem;
        font-weight: 500; } }

@media only screen and (max-width: 56.25em) {
  .nav-bar {
    display: none; } }

@media only screen and (max-width: 75em) {
  .nav-bar {
    display: none; } }

@media only screen and (max-width: 112.5em) {
  .nav-bar {
    display: none; } }

@media only screen and (max-width: 37.5em) {
  .nav-bar {
    display: flex; } }

.nav-bar-checkbox {
  display: none; }

.nav-bar-button {
  margin-top: -1rem;
  background-color: transparent;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  top: 5rem;
  right: 4rem;
  z-index: 2000;
  opacity: 0;
  text-align: center;
  cursor: pointer;
  position: absolute; }
  @media only screen and (max-width: 37.5em) {
    .nav-bar-button {
      opacity: 1; } }

.nav-bar-checkbox:checked ~ .nav-bar-background {
  transform: scale(80); }

.nav-bar-checkbox:checked ~ .nav-bar-cont {
  opacity: 1;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .nav-bar-checkbox:checked ~ .nav-bar-cont {
      height: 80vh;
      width: 50vw;
      top: -2%;
      background-color: black;
      align-items: center; } }

.nav-bar-background {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 0rem;
  left: 0rem;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 37.5em) {
    .nav-bar-background {
      top: 3rem;
      right: 3rem; } }

.nav-bar-cont {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.266, 1.55); }
  @media only screen and (max-width: 37.5em) {
    .nav-bar-cont {
      height: 80vh;
      width: 80vw;
      align-items: center; } }

.nav-bar-item {
  margin: 1rem; }

.nav-bar .nav-bar-list {
  width: 90%;
  height: 100%;
  margin-left: 0.2rem;
  position: absolute; }
  .nav-bar .nav-bar-list .nav-bar-item {
    list-style: none;
    border-bottom: 1px solid #b9b6b6;
    display: flex; }
    .nav-bar .nav-bar-list .nav-bar-item .nav-bar-link {
      text-decoration: none;
      color: white;
      font-size: 1.6rem;
      padding: 2rem;
      cursor: pointer; }

.nav-bar-icon {
  position: relative;
  margin-top: 2.5rem; }
  .nav-bar-icon, .nav-bar-icon::before, .nav-bar-icon::after {
    width: 3rem;
    height: 2px;
    background-color: white;
    display: inline-block; }
  .nav-bar-icon::before, .nav-bar-icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .nav-bar-icon::before {
    top: -0.8rem; }
  .nav-bar-icon::after {
    top: 0.8rem; }

.nav-bar-button:hover .nav-bar-icon:before {
  top: -1rem; }

.nav-bar-button:hover .nav-bar-icon:after {
  top: 1rem; }

.nav-bar-checkbox:checked + .nav-bar-button .nav-bar-icon {
  background-color: transparent; }

.nav-bar-checkbox:checked + .nav-bar-button .nav-bar-icon::before {
  top: 0;
  transform: rotate(135deg); }

.nav-bar-checkbox:checked + .nav-bar-button .nav-bar-icon::after {
  top: 0;
  transform: rotate(-135deg); }
