$color-blue-dark: #16293a;
$blue-color: skyblue;
$color-grey-dark-2: rgb(87, 84, 84);
$white-color: #fff;
$black-color: black;
$color-grey-light: rgba(224, 220, 220, 0.562);
$color-black-light: rgb(43, 42, 42);
$color-font: #202020;
$color-blue: #337ab7;
$color-extra-ligt-grey: rgb(212, 210, 210);
