* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  font-size: 62.5%;

  @include respond(Tab-land) {
    font-size: 56.25%;
  }
  @include respond(Tab-port) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 30%;
  }
  @include respond(min-phone) {
    font-size: 20%;
  }
  @include respond(Big-desktop) {
    font-size: 75%;
  }
}
body {
  height: 100%;
  width: 100vw;
  background-size: cover;
  overflow-x: hidden;

  box-sizing: border-box;
  @include respond(Tab-port) {
    padding: 0;
  }
}
