.contact {
  height: 90vh;
  width: 100%;
  padding: 4rem;
  display: grid;
  border: 2px solid black;
  position: absolute;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(1, 1fr);
  margin-top: 14rem;
  grid-gap: 2rem;
  &_details_img {
    width: 100%;
    grid-column: 1 / span 1;
    grid-row: 1/2;
  }
  &_details-2 {
    width: 100%;
    grid-column: 1 / span 1;
    grid-row: 2/3;
    p {
      font-size: 1.6rem;
      font-family: sans-serif;
      line-height: 1.6rem;
      word-spacing: 0.9rem;
      color: $color-font;
      margin-top: 1rem;
    }
    h1 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
      letter-spacing: 2px;
      font-family: sans-serif;
      font-size: 2rem;
      font-weight: 400;
    }
  }
  &_details-3 {
    grid-column: 1 / span 1;
    background-color: $color-extra-ligt-grey;
    font-size: 3rem;
    color: red;
    font-weight: 900;
    font-family: "Courier New", Courier, monospace !important;
    padding: 0.5rem 0;
    text-align: center;
  }
}
