.message {
  display: flex;
  height: 17.5rem;
  margin-top: -5rem;
  justify-content: end;
  @include respond(phone) {
    display: flex;
    justify-content: center;
    width: 97%;
    height: 17rem;
  }
  img {
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 2rem;
  }

  &-img {
    width: 37rem;
    height: 17rem;
    margin-left: -1%;
    background-size: cover;
    object-fit: cover;
    background-position: center;

    @include respond(phone) {
      width: 32rem;
      height: 13rem;
    }
    @include respond(Tab-port) {
      width: 50rem;
      height: 15rem;
    }
    @include respond(Tab-land) {
      width: 30rem;
      height: 15rem;
    }
    @include respond(Big-desktop) {
      height: 17rem;
      width: 42rem;
    }
  }
}
