.message {
  display: inline-block;
  width: 100vw;
  &-img {
    width: 120rem;
    height: 17rem;
    margin-left: 65%;
    margin-top: 2rem;
    margin-top: 5rem;
    @include respond(phone) {
      width: 25rem;
      height: 11rem;
      margin-left: 45%;
    }
    @include respond(Tab-port) {
      width: 50rem;
      height: 15rem;
      margin-left: 55%;
    }
    @include respond(Tab-land) {
      width: 30rem;
      height: 15rem;
      margin-left: 60%;
    }
    @include respond(Big-desktop) {
      height: 16rem;
      width: 46rem;
      margin-left: 51%;
      margin-top: 7rem;
    }
  }
}
